[submodule "External/StringUtils"]
	path = External/StringUtils
	url = https://github.com/ltcmelo/string_utils.git 
[submodule "Plugins"]
	path = Plugins
	url = https://github.com/ltcmelo/uaiso-plugins.git
